[user]
  name = Kai Wolf
  email = kai.wolf@gmail.com
[commit]
  template = ~/.git_commit_template.txt
[push]
  default = simple
[alias]
  # Show all configured aliases
  aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
  ll = log --graph --abbrev=15 --pretty=format:'%C(auto,yellow) changeset:   %C(auto,bold)%h  %Creset%C(auto,yellow)%d%Creset%n user:        %an <%ae>%n date:        %<(59,trunc)%ad%n summary:     %<(59,trunc)%s%n'
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  co = checkout
  ci = commit
  sb = status -sb
  br = branch
  cm = !git add -A && git commit -m
  fix = "!f() { vim -p $(git diff --name-only | uniq); }; f"
  url = config --get remote.origin.url
  new = !sh -c 'git log --oneline $1@{1}..$1@{0} "$@"'
  undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
  # Delete all local merged branches
  dlb = !git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs git branch -d
[core]
  editor = vim
  fileMode = true
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = true
[color "status"]
  added = green
  changed = yellow bold
  untracked = red bold
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[difftool]
  prompt = false
[credential]
  helper = cache --timeout=3600
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[diff-so-fancy]
  markEmptyLines = false
  changeHunkIndicators = true
  stripLeadingSymbols = false
[gpg]
  program = gpg2
